* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    color: #088b8b;
    height: 100%;
}


.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    width: 100%;
    height: 100%;
    background-color: orange;
}


/* progress container  */

.circle-container {
    width: 400px;
    height: 400px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    overflow: hidden;
    z-index: 1;
}

.semicircle {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: right center;
}


.semicircle:nth-child(1) {
    background-color: red;
    z-index: 2;
}

.semicircle:nth-child(2) {
    background-color: blue;
    z-index: 3;
}

.semicircle:nth-child(3) {
    background-color: white;
    z-index: 4;
}

.outermost-circle {
    width: 390px;
    height: 390px;
    background-color: black;
    border-radius: 50%;
    z-index: 5;
}

